TELEGRAM_API_ID=
TELEGRAM_API_HASH=

# SOCKS5 proxy for connecting to Telegram DC (required if Telegram is blocked on the server)
# Leave empty or remove to connect directly
SOCKS5_HOST=
SOCKS5_PORT=
SOCKS5_USER=
SOCKS5_PASS=
